p {
    text-align: center;
    background-color: transparent;
    font-size: 1.2em;
}


footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box; 
}